# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#lab1
labs/lab1/list
labs/lab1/ltest
labs/lab1/test_coding
labs/lab1/encode

#lab2
labs/lab2/preprocess
labs/lab2/spell
labs/lab2/word
labs/lab2/dictionary

#lab3
labs/lab3/tagremover_test
labs/lab3/date_test
labs/lab3/word
labs/lab3/dictionary
